*{
    margin: 0;
    padding: 0;
}

header{
    border: 1px solid red;
    width: 100%;
    height: 50px;
}

main{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    /* box-sizing: border-box; */
}

section {
    width: 40%;
    height: 100%;
    background-color: green;
}

.sec1{
    background-color: blue;
    width: 70%;
}

.sec2{
    /* background-color: red; */
    width: 20%;
}

.con-img{
    background-color: aqua;
    width: 100%;
    height: 60%;

}

.con-h3{
    width: 100%;
    height: 20%;
}

.con-p{
    width: 100%;
    height: 20%;
}

footer{
    width: 100%;
    height: 50px;
    background-color: cadetblue;
}